@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan optional kamu */
body {
  @apply bg-gradient-to-b from-purple-50 to-white text-gray-800;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
